VonThomas/
docs/Circuit_Data_Summer_2011.txt
docs/Circuit_Data_Summer_2011_prepared.txt
docs/Header Information Summer 2011.txt
docs/SystemLevelSummer.csv
docs/WeatherLocalSummer.csv
source/devices.mat
source/dbScanCenters.mat
source/dbScanCentersDayCycle.mat
source/devicesRowData.mat
source/outliers.mat
source/dbScanCentersDaylyCycle.mat
source/devicesRowDataAndExternalRowData.mat
VonStefanie/readme.txt
VonStefanie/15minutesResolutionMeanClustering/centers15minResolutionMeanCluster.csv
VonStefanie/15minutesResolutionMeanClustering/coefficients15minResolutionMeanCluster.csv
VonStefanie/15minutesResolutionMeanClustering/data15minResolutionMeanCluster.csv
VonStefanie/15minutesResolutionMeanClustering/errors15minResolutionMeanCluster.csv
VonStefanie/WeatherLocalSummer.csv
VonStefanie/hourlyResolutionMeanClustering/centersHourlyResolutionMeanClustering.csv
VonStefanie/hourlyResolutionMeanClustering/coefficientsHourlyResolutionMeanClustering.csv
VonStefanie/hourlyResolutionMeanClustering/dataHourlyResolutionMeanClustering.csv
VonStefanie/hourlyResolutionMeanClustering/errorsHourlyResolutionMeanClustering.csv
docs/Circuit_Data_Summer_2011.csv
docs/Circuit_Data_Summer_2011_prepared.csv
docs/eMeterClusteringAndForecasting12062015.pptx
docs/pictures/common1.png
docs/pictures/common2.png
docs/pictures/common3.png
docs/pictures/common4.png
docs/pictures/common5.png
docs/pictures/common6.png
docs/pictures/commonOutliers1.png
docs/pictures/commonOutliers2.png
docs/pictures/commonOutliers3.png
docs/pictures/commonOutliers4.png
docs/pictures/commonOutliers5.png
docs/pictures/commonOutliers6.png
docs/pictures/correlation1.png
docs/pictures/correlation2.png
docs/pictures/dailyCentersWithOutliers.png
docs/pictures/dailyCentersWithoutOutliers.png
source/12week.mat
source/12week15minutes.mat
VonStefanie/15minutesResolutionOriginalClustering/centers15minResolutionOrigCluster.csv
VonStefanie/15minutesResolutionOriginalClustering/coefficients15minResolutionOrigCluster.csv
VonStefanie/15minutesResolutionOriginalClustering/data15minResolutionOrigCluster.csv
VonStefanie/15minutesResolutionOriginalClustering/errors15minResolutionOrigCluster.csv
VonStefanie/CenterForecasts.csv
docs/eMeterForecastingSV24062015.pptx
docs/pictures2062015/common1.png
docs/pictures2062015/common2.png
docs/pictures2062015/common3.png
docs/pictures2062015/common4.png
docs/pictures2062015/common5.png
docs/pictures2062015/common6.png
docs/pictures2062015/commonOutliers1.png
docs/pictures2062015/commonOutliers2.png
docs/pictures2062015/commonOutliers3.png
docs/pictures2062015/commonOutliers4.png
docs/pictures2062015/commonOutliers5.png
docs/pictures2062015/commonOutliers6.png
docs/pictures2062015/correlation1.png
docs/pictures2062015/correlation2.png
docs/pictures2062015/dailyCentersWithOutliers.png
docs/pictures2062015/dailyCentersWithoutOutliers.png
docs/pictures2462015/centersDaily.png
docs/pictures2462015/centersDaily4LinearDepRemoved.png
docs/pictures2462015/centersWeekly.png
docs/pictures2462015/centersWeekly3LinearDepRemoved.png
docs/pictures2462015/correlation.jpg
docs/pictures2462015/objectiveFunction.png
source/12week15minOrigClustering.mat
source/CenterForecasts.csv
VonStefanie/3weekOriginalClusteringForecastingError.png
VonStefanie/21/weekday1.csv
VonStefanie/21/weekday2.csv
VonStefanie/21/weekday3.csv
VonStefanie/21/weekday4.csv
VonStefanie/21/weekday5.csv
VonStefanie/21/weekday6.csv
VonStefanie/21/weekday7.csv
VonStefanie/3CentersForecasting.csv
VonStefanie/3centers15minResolutionOrigCluster.csv
VonStefanie/3centers15minResolutionOrigCluster.xlsm
source/21center.mat
source/3Centers.csv
source/3center12week15minOrigClustering.mat
source/dbScanCenters12Week.mat
