VonThomas/
docs/Circuit_Data_Summer_2011.txt
docs/Circuit_Data_Summer_2011_prepared.txt
docs/Header Information Summer 2011.txt
docs/SystemLevelSummer.csv
docs/WeatherLocalSummer.csv
source/devices.mat
source/dbScanCenters.mat
source/dbScanCentersDayCycle.mat
source/devicesRowData.mat
source/outliers.mat
source/dbScanCentersDaylyCycle.mat
source/devicesRowDataAndExternalRowData.mat
VonStefanie/readme.txt
VonStefanie/15minutesResolutionMeanClustering/centers15minResolutionMeanCluster.csv
VonStefanie/15minutesResolutionMeanClustering/coefficients15minResolutionMeanCluster.csv
VonStefanie/15minutesResolutionMeanClustering/data15minResolutionMeanCluster.csv
VonStefanie/15minutesResolutionMeanClustering/errors15minResolutionMeanCluster.csv
VonStefanie/WeatherLocalSummer.csv
VonStefanie/hourlyResolutionMeanClustering/centersHourlyResolutionMeanClustering.csv
VonStefanie/hourlyResolutionMeanClustering/coefficientsHourlyResolutionMeanClustering.csv
VonStefanie/hourlyResolutionMeanClustering/dataHourlyResolutionMeanClustering.csv
VonStefanie/hourlyResolutionMeanClustering/errorsHourlyResolutionMeanClustering.csv
docs/Circuit_Data_Summer_2011.csv
docs/Circuit_Data_Summer_2011_prepared.csv
docs/eMeterClusteringAndForecasting12062015.pptx
docs/pictures/common1.png
docs/pictures/common2.png
docs/pictures/common3.png
docs/pictures/common4.png
docs/pictures/common5.png
docs/pictures/common6.png
docs/pictures/commonOutliers1.png
docs/pictures/commonOutliers2.png
docs/pictures/commonOutliers3.png
docs/pictures/commonOutliers4.png
docs/pictures/commonOutliers5.png
docs/pictures/commonOutliers6.png
docs/pictures/correlation1.png
docs/pictures/correlation2.png
docs/pictures/dailyCentersWithOutliers.png
docs/pictures/dailyCentersWithoutOutliers.png
source/12week.mat
source/12week15minutes.mat
